{% extends 'InoKontoManager.html.twig' %}
  {% block body %}
  <div class="row">
    <div class="col">
      <div class="card-title h3">Modifier les catégories</div>
      <button type="button" class="btn btn-outline-primary mb-1" onclick="window.location.href='{{ path('km_category_form') }}'">Nouvelle catégorie</button>
      <p>Catégories définies : <strong>{{ CATEGORY_LIST|length|format_number }}</strong> | Entrées sans catégorie : <strong>{{ NO_CAT_COUNT|format_number }}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-7 col-12 mt-2">
      <table class="table table-sm table-striped table-hover" id="tbl_km_categories">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th class="text-end">Entrées</th>
        <th class="text-center"><abbr title="Coût fixe">Fixe ?</abbr></th>
        <th class="text-center"><abbr title="Catégorie active ?">Actif ?</abbr></th>
      </tr>
      </thead>
      <tbody>
      {% for c in CATEGORY_LIST %}
      <tr data-url="{{ path("km_category_form",{'id':c.id}) }}">
        <td class="mp_click">{{ c.id }}</td>
        <td class="mp_click {% if c.is_active == 0 %}text-decoration-line-through{% endif %}">{{ c.name }}</td>
        <td class="mp_click text-end">{{ c.data_count|format_number }}</td>
        <td class="mp_click text-center">{{ c.is_fixed|FormatCheckbox|raw }}</td>
        <td class="mp_click text-center">{{ c.is_active|FormatCheckbox|raw }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
  {% block javascripts %}
  <script>
  /** Gérer le clic sur une catégorie */
  $(".mp_click").on('click', function() {
    window.location.href=$(this).parent().data('url');
  });
  var table = $("#tbl_km_categories").dataTable();
  </script>
  {% endblock %}
  