<table class="table table-sm table-striped table-hover">
  <thead>
  <tr>
    <th>Datum</th>
    <th>Kategorie</th>
    <th>Buchungstext</th>
    <th class="text-end">Summe</th>
  </tr>
  </thead>
  <tbody>
  {% for d in DATA %}
    <tr>
      <td class="align-top" title="{{ d.booking_date|format_date('full') }}">{{ d.booking_date|format_date('medium') }}</td>
      <td class="align-top">
        <select name="cat[]" id="cat_{{ d.id }}" class="form-select form-select-sm">
          {% for c in CATLIST %}
            <option value="{{ d.id }}|{{ c['id'] }}"{% if d.ref_category_id is defined and c['id'] == d.ref_category_id  %} selected{% endif %}>{{ c['name'] }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="align-top"><small>{{ d.description }}</small></td>
      <td class="align-top text-end {{ d.amount|MoneyColor }}">{{ d.amount|format_currency('EUR') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
