{% extends 'InoSession.html.twig' %}
{% block navbar_title %}Freelancer Manager{% endblock %}
{% block navbar_side %}
  {% set naventries = {
    'home':'',
    'time':'',
    'services':'',
    'customer':'',
    'projects':'',
    'reports':'',
    'invoices':'',
    'contracts':'',
    'config':'',
  } %}
  {% if ACTNAV is not defined %}
    {% set naventries = set_element(naventries,'home','active') %}
  {% else %}
    {% if naventries[ACTNAV] is not defined %}
      <div class="alert alert-danger" role="alert">
        Unknown navigation tag "{{ ACTNAV }}" - CHECK YOUR CODE!
      </div>
    {% else %}
      {% set naventries = set_element(naventries,ACTNAV,'active') %}
    {% endif %}
  {% endif %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-3 col-xl-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link {{ naventries['home'] }}" href="{{ path("fl_index") }}"><i class="fa-solid fa-gauge fa-fw"></i> Dashboard</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['time'] }}" href="{{ path("fl_time_form") }}"><i class="fa-solid fa-clock fa-fw"></i> Zeiterfassung</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['services'] }}" href="{{ path("fl_services_overview") }}"><i class="fa-solid fa-money-bill-1-wave fa-fw"></i> Zusatzleistungen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['customer'] }}" href="{{ path("fl_customer_list") }}"><i class="fa-solid fa-user-group fa-fw"></i> Kunden</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['projects'] }}" href="{{ path("fl_projects_list") }}"><i class="fa-solid fa-diagram-project fa-fw"></i> Projekte</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['reports'] }}" href="{{ path("fl_report_index") }}"><i class="fa-solid fa-chart-line fa-fw"></i> Auswertungen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['invoices'] }}" href="{{ path("fl_invoices_list") }}"><i class="fa-solid fa-file-invoice-dollar fa-fw"></i> Rechnungen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['contracts'] }}" href="#"><i class="fa-solid fa-file-signature fa-fw"></i> Service Verträge</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['config'] }}" href="{{ path("fl_configuration_form") }}"><i class="fa-solid fa-gear fa-fw"></i> Einstellungen</a></li>
        </ul>
        <hr>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("home") }}"><i class="fa-solid fa-home fa-fw"></i> Zurück zum Start</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("app_logout") }}"><i class="fa-solid fa-power-off fa-fw"></i> Abmelden</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    {% block body_before %}
    <main class="col-md-9 col-lg-9 col-xl-10 ms-sm-auto px-md-4 mt-4">
      {% endblock %}
      {% block body_after %}
    </main>
  </div>
</div>
{% endblock %}
