{# Sortie des entrées pour un projet donné - ce code HTML est spécifique à TCPDF !! #}
<table cellpadding="1" cellspacing="1">
<tr>
  <th colspan="3"><b><u>{{ PROJECT_NAME }}</u></b></th>
</tr>
{% for e in ENTRIES %}
<tr style="{% if loop.index is odd %}background-color:#eeeeee;{% else %}background-color:#dddddd;{% endif %}">
  <td width="50">{{ e.ymd|format_date }}</td>
  <td width="50" style="text-align:center;">
  {% if e.record_type == constant('App\\Entity\\FlProjectEntries::RT_PROJECT_ENTRY') %}
    {{ e.work_time_in_secs|formatWorkTime }}
  {% elseif e.record_type == constant('App\\Entity\\FlProjectEntries::RT_TRAVEL_ALLOWANCE') %}
    {{ e.salary|format_currency('EUR') }}
  {% endif %}
  </td>
  <td width="363">
    {% if e.record_type == constant('App\\Entity\\FlProjectEntries::RT_TRAVEL_ALLOWANCE') %}
      Indemnité de déplacement
      {% if e.work_description != "" %}
        <br>
      {% endif %}
    {% endif %}
    {{ e.work_description|nl2br }}
  </td>
</tr>
{% endfor %}
<tr>
  <td style="text-align:right;border-top: 1px solid #666666;"><b>Total :</b></td>
  <td style="text-align:center;border-top: 1px solid #666666;"><b>{{ TOTAL_SECONDS|formatWorkTime }}</b></td>
  <td style="border-top: 1px solid #666666;"><b>{{ TOTAL_SALARY|format_currency('EUR') }}</b></td>
</tr>
</table>

{# Exemple de données :
"id" => 10905
"salary" => "45.00"
"ymd" => "2023-12-29"
"project_name" => "Administration IT"
"customer_name" => "Maître Frank Meier"
"no_reporting" => false
"work_time_in_secs" => 1800
"work_description" => "Vérification des sauvegardes, configuration Strato HiDrive, intégration HiDrive"
#}
