<table class="table table-sm table-striped">
<thead>
<tr>
  <th>Date</th>
  <th>Client</th>
  <th>Projet</th>
  <th class="text-end">Durée</th>
  <th class="text-end">Gains</th>
</tr>
</thead>
<tbody>
{% for d in DATA %}
<tr data-id="{{ d.id }}">
  <td>{{ d.ymd|format_date }}</td>
  <td>{{ d.customer_name }}</td>
  <td>{{ d.project_name }}</td>
  <td class="text-end">{{ d.work_time_in_secs|formatWorkTime }}</td>
  <td class="text-end">
    {% if d.no_reporting == false %}
      {{ d.salary|format_currency('EUR') }}
    {% else %}
      -/-
    {% endif %}
  </td>
</tr>
{% else %}
<tr>
  <td colspan="5" class="text-bg-info text-center">Aucune entrée disponible !</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
  <td class="fw-bold" colspan="3">Total :</td>
  <td class="fw-bold text-end">{{ TOTAL_TIME|formatWorkTime }}</td>
  <td class="fw-bold text-end">{{ TOTAL_SALARY|format_currency('EUR') }}</td>
</tr>
</tfoot>
</table>
