{% extends 'InoFreelancerManager.html.twig' %}

  {% block body %}
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active h3" aria-current="page"><i class="fa-solid fa-gear fa-fw"></i> Paramètres</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <form method="post" action="{{ path("fl_configuration_save") }}" id="frm_fl_config" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            Votre entreprise
          </div>
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Nom complet de l'entreprise" required value="{{ CONFIG.companyName }}">
              <label for="companyName">Nom complet de l'entreprise</label>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyOwner" name="companyOwner" placeholder="Nom du propriétaire" required value="{{ CONFIG.companyOwner }}">
                  <label for="companyOwner">Nom du/des propriétaire(s)</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="companyEmail" name="companyEmail" placeholder="Adresse e-mail" value="{{ CONFIG.companyEmail }}">
                  <label for="companyEmail">Adresse e-mail</label>
                </div>
              </div>
            </div>
  
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="companyStreet" name="companyStreet" placeholder="Adresse : Rue" value="{{ CONFIG.companyStreet }}">
              <label for="companyStreet">Rue</label>
            </div>
  
            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyPostal" name="companyPostal" placeholder="Code postal" value="{{ CONFIG.companyPostal }}">
                  <label for="companyPostal">Code postal</label>
                </div>
              </div>
              <div class="col-5">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyCity" name="companyCity" placeholder="Ville" value="{{ CONFIG.companyCity }}">
                  <label for="companyCity">Ville</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyCountry" name="companyCountry" placeholder="Pays" value="{{ CONFIG.companyCountry }}">
                  <label for="companyCountry">Pays</label>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyTaxNumber" name="companyTaxNumber" placeholder="Numéro fiscal" required value="{{ CONFIG.companyTaxNumber }}">
                  <label for="companyTaxNumber">Numéro fiscal / TVA</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyPhone" name="companyPhone" placeholder="Numéro de téléphone" value="{{ CONFIG.companyPhone }}">
                  <label for="companyPhone">Téléphone</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="companyFax" name="companyFax" placeholder="Numéro de fax" value="{{ CONFIG.companyFax }}">
                  <label for="companyFax">Fax</label>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-header">
            Compte bancaire
          </div>
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bankName" name="bankName" placeholder="Ex : BNP Paribas" value="{{ CONFIG.bankName }}">
              <label for="bankName">Nom de la banque</label>
            </div>
  
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bankAccount" name="bankAccount" placeholder="Titulaire du compte" value="{{ CONFIG.bankAccount }}">
              <label for="bankAccount">Titulaire du compte</label>
            </div>
  
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bankIban" name="bankIban" placeholder="Numéro IBAN" value="{{ CONFIG.bankIban }}">
              <label for="bankIban">IBAN</label>
            </div>
  
            <div class="form-floating">
              <input type="text" class="form-control" id="bankBic" name="bankBic" placeholder="BIC" value="{{ CONFIG.bankBic }}">
              <label for="bankBic">BIC</label>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-header">
            Logo de l'entreprise
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="companyLogo">&nbsp;</label>
              <input type="file" class="form-control" id="companyLogo" name="companyLogo" placeholder="Télécharger votre logo (JPEG/PNG)" accept="image/jpeg,image/png">
            </div>
  
            <div>
              {% if CONFIG.companyLogo is not null %}
                <p>Logo existant :</p>
                <p>{{ CONFIG.companyLogoName }} ({{ CONFIG.companyLogoSize|format_number }} octets) 
                  <a href="#" title="Supprimer le logo" id="btn_del_logo">
                    <i class="fa-solid fa-trash text-danger"></i>
                  </a>
                </p>
              {% else %}
                <span class="text-muted">Aucun logo disponible.</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-body text-center">
            {% if CONFIG.companyLogo is not null %}
              <img src="data:{{ CONFIG.companyLogoMimeType }};base64,{{CONFIG.companyLogo|Base64Encode }}" class="img-fluid" alt="{{ CONFIG.companyLogoName }}" title="{{ CONFIG.companyLogoName }} ({{ CONFIG.companyLogoSize|format_number }} octets)">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="mt-3 col-12">
        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Enregistrer les paramètres</button>
      </div>
    </div>
  </form>
  
  <form method="post" action="{{ path("fl_configuration_delete_logo") }}" id="frm_del"></form>
  {% endblock %}
  
  {% block javascripts %}
  <script>
  $("#btn_del_logo").click(function(e) {
    e.preventDefault();
    SwalConfirmSubmit("Voulez-vous vraiment supprimer le logo ?", "frm_del");
  });
  </script>
  {% endblock %}
  