{% extends 'InoFreelancerManager.html.twig' %}

  {% block body %}
  <div class="row">
    <div class="col-12">
      <h3><i class="fa-solid fa-gauge fa-fw"></i> Tableau de bord</h3>
    </div>
  </div>
  
  {% if NO_CONFIG == true %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
        Aucune configuration disponible – Veuillez d'abord <a href="{{ path("fl_configuration_form") }}" class="alert-link">configurer l'application</a> !
      </div>
    </div>
  </div>
  {% else %}
  
  <div class="row">
    <div class="col-xl-6 col-md-9 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            {% if CONFIG.companyLogo is not null %}
              <div class="col-3">
                <img src="data:{{ CONFIG.companyLogoMimeType }};base64,{{ CONFIG.companyLogo|Base64Encode }}" class="img-fluid" alt="{{ CONFIG.companyLogoName }}" title="{{ CONFIG.companyLogoName }} ({{ CONFIG.companyLogoSize|format_number }} octets)">
              </div>
            {% endif %}
            <div class="col border-end">
              <h4>{{ CONFIG.companyName }}</h4>
              {{ CONFIG.companyStreet }}<br>
              {{ CONFIG.companyPostal }} {{ CONFIG.companyCity }}<br>
              {{ CONFIG.companyCountry }}<br>
              {{ CONFIG.companyPhone }}<br>
            </div>
            <div class="col">
              <table class="table table-sm">
                <tr>
                  <td>Clients (actifs) :</td>
                  <td class="text-end">{{ CUSTOMER_STATS['TOTAL']|format_number }} ({{ CUSTOMER_STATS['ACTIVE']|format_number }})</td>
                </tr>
                <tr>
                  <td>Projets :</td>
                  <td class="text-end">{{ PROJECT_COUNT|format_number }}</td>
                </tr>
                <tr>
                  <td>Entrées projet :</td>
                  <td class="text-end">{{ PRJ_ENTRY_COUNT|format_number }}</td>
                </tr>
                <tr>
                  <td>Contrats de service :</td>
                  <td class="text-end">{{ CONTRACT_COUNT|format_number }}</td>
                </tr>
                <tr>
                  <td>Factures :</td>
                  <td class="text-end">{{ INVOICE_COUNT|format_number }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card h-100">
        <div class="card-body align-items-center">
          <table class="table table-sm table-striped">
            <caption>4 dernières entrées</caption>
            <tbody>
            {% for l in LAST_ENTRIES %}
              <tr>
                <td>{{ l.entry_date|format_date }}</td>
                <td>{{ l.customer_name }}</td>
                <td>{{ l.project_name }}</td>
                <td class="text-end">{{ l.work_time_in_secs|formatWorkTime }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-bordered pb-0 mb-0">
            <thead>
              <tr>
                {% for mi,mmm in THIS_YEAR_MONTH %}
                  <th class="text-center showyyyymm mp_click{% if mi == "now"|date('m') %} bg-light{% endif %}" data-ym="{{ CURRENT_YEAR }}{{ mi|format_number({min_integer_digit:2})}}">{{ mmm }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for mi,mmm in THIS_YEAR_MONTH %}
                  <td class="text-center showyyyymm mp_click{% if mi == "now"|date('m') %} bg-light{% endif %}" data-ym="{{ CURRENT_YEAR }}{{ mi|format_number({min_integer_digit:2})}}">{{ THIS_YEAR_SUM[mi]|format_currency('EUR') }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title h3 text-center">Chiffre d'affaires annuel</div>
          <canvas id="myChart" width="100%" height="20"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
  {% endblock %}
  
  {% block javascripts %}
  <script src="{{ asset('js/vendor/chart.umd.js') }}"></script>
  <script>
  // Gestion du clic sur un mois
  $(".showyyyymm").on('click', function() {
    var ym = $(this).data('ym');
    fl_showEntriesFromMonth(ym);
  });
  
  $(document).ready(function() {
    const ctx = $('#myChart');
    const labels = {{ LABELS|json_encode|raw }};
    const values = {{ VALUES|json_encode|raw }};
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: 'Chiffre d\'affaires en EUR',
          data: values,
          borderColor: 'rgb(50, 61, 83)',
          borderWidth: 1,
        }]
      },
      options: {
        locale: 'fr-FR',
        plugins: {
          tooltip: {
            callbacks: {
              label: function (context)
                {
                  let label = context.dataset.label || '';
                  if (label)
                    {
                      label += ': ';
                    }
                  if (context.parsed.y !== null)
                    {
                      label += new Intl.NumberFormat('fr-FR', {
                        style: 'currency',
                        currency: 'EUR'
                      }).format(context.parsed.y);
                    }
                  return label;
                }
            }
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
  </script>
  {% endblock %}
  