{% extends 'InoFreelancerManager.html.twig' %}

  {% block body %}
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h3" aria-current="page">
            <a href="{{ path("fl_invoices_list") }}">
              <i class="fa-solid fa-file-invoice-dollar fa-fw"></i> Factures
            </a>
          </li>
          <li class="breadcrumb-item active h3" aria-current="page">{{ PAGE_TITLE }}</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <form method="post" action="#" class="needs-validation" novalidate id="frm_invoice" data-blob="{{ path("fl_invoices_dl") }}" enctype="multipart/form-data">
  <input type="hidden" name="PID" value="{{ INVOICE.id|default(0) }}">
  
  <div class="row">
    <div class="col-xl-6 col-12">
      <div class="card h-100">
        <div class="card-header">
          Informations client
          {% if INVOICE.createdOn != "" %}
            <small class="text-muted"> (Créé le {{ INVOICE.createdOn|format_datetime }}{% if INVOICE.lastModifiedOn != "" %}, modifié le {{ INVOICE.lastModifiedOn|format_datetime }}{% endif %})</small>
          {% endif %}
        </div>
        <div class="card-body">
  
          <div class="form-floating mb-3">
            <select class="form-select" id="RefCustomerId" name="RefCustomerId" aria-label="Liste des clients" required>
              <option value="">--- Veuillez choisir un client ---</option>
              {% for c in CUSTOMER_LIST %}
                <option value="{{ c.id }}"{% if c.id == INVOICE.refCustomer.id|default(0) %} selected{% endif %}>{{ c.name }}</option>
              {% endfor %}
            </select>
            <label for="RefCustomerId">Client lié à la facture</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="customerNumber" name="customerNumber" placeholder="Numéro client" required value="{{ INVOICE.refCustomer.customerNumber|default("") }}">
            <label for="customerNumber">Numéro client</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nom de l'entreprise" required value="{{ INVOICE.refCustomer.name|default('') }}">
            <label for="name">Nom de l'entreprise</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="street" name="street" placeholder="Rue" value="{{ INVOICE.refCustomer.street|default('') }}">
            <label for="street">Rue</label>
          </div>
  
          <div class="row">
            <div class="col-3">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="postalCode" name="postalCode" placeholder="Code postal" value="{{ INVOICE.refCustomer.postalCode|default('') }}">
                <label for="postalCode">Code postal</label>
              </div>
            </div>
            <div class="col-9">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="city" name="city" placeholder="Ville" value="{{ INVOICE.refCustomer.city|default('') }}">
                <label for="city">Ville</label>
              </div>
            </div>
          </div>
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="country" name="country" placeholder="Pays" value="{{ INVOICE.refCustomer.country|default('') }}">
            <label for="country">Pays</label>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="col-xl-6 col-12">
      <div class="card h-100">
        <div class="card-header">
          Informations facture
        </div>
        <div class="card-body">
  
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="inv_date" name="inv_date" placeholder="Date de facture" value="{{ INVOICE.invoiceDate }}" required>
                <label for="inv_date">Date de facture</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inv_nr" name="inv_nr" placeholder="Numéro de facture" value="{{ INVOICE.invoiceNumber }}" required>
                <label for="inv_nr">Numéro de facture</label>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <select class="form-select" id="inv_type" name="inv_type" aria-label="Type de facture" required>
                  <option value="">--- Veuillez choisir ---</option>
                  {% for id, name in INVOICE_TYPES %}
                    <option value="{{ id }}"{% if id == INVOICE.invoiceType|default(0) %} selected{% endif %}>{{ name }}</option>
                  {% endfor %}
                </select>
                <label for="inv_type">Type de facture</label>
              </div>
            </div>
            <div class="col pt-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="ispaid" name="ispaid" {% if INVOICE.isPaid %} checked{% endif %}>
                <label class="form-check-label" for="ispaid">Payée ?</label>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col mb-3">
              <div class="input-group has-validation">
                <div class="form-floating">
                  <input type="text" class="form-control text-end" id="inv_netto" placeholder="Montant HT" value="{{ INVOICE.sumNetto }}" required>
                  <label for="inv_netto">Montant HT</label>
                </div>
                <span class="input-group-text">&euro;</span>
                <div class="invalid-feedback">Veuillez saisir un montant valide !</div>
              </div>
            </div>
  
            <div class="col mb-3">
              <div class="input-group has-validation">
                <div class="form-floating">
                  <input type="text" class="form-control text-end" id="inv_brutto" placeholder="Montant TTC" value="{{ INVOICE.sumBrutto }}" required>
                  <label for="inv_brutto">Montant TTC</label>
                </div>
                <span class="input-group-text">&euro;</span>
                <div class="invalid-feedback">Veuillez saisir un montant valide !</div>
              </div>
            </div>
  
            <div class="col mb-3">
              <div class="input-group has-validation">
                <div class="form-floating">
                  <input type="text" class="form-control text-end" id="inv_tax" placeholder="TVA" value="{{ INVOICE.taxPct|default("19") }}" required>
                  <label for="inv_tax">TVA (%)</label>
                </div>
                <span class="input-group-text">%</span>
                <div class="invalid-feedback">Veuillez saisir un pourcentage valide !</div>
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inv_notax" name="inv_notax" value="1" {% if INVOICE.noTax == true %} checked{% endif %}>
                <label class="form-check-label" for="inv_notax">
                  Sans TVA (Art. 293 B du CGI)
                </label>
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Commentaire optionnel" id="inv_comment" style="height:80px">{{ INVOICE.comment }}</textarea>
                <label for="inv_comment">Commentaire (optionnel)</label>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <label for="inv_pdf" class="form-label">Télécharger la facture (PDF)</label>
              <input class="form-control" type="file" id="inv_pdf" accept="application/pdf">
            </div>
  
            <div class="col d-flex align-items-end">
              {% if INVOICE.pdfFilename != "" %}
              <button type="button" class="btn btn-secondary me-1" title="{{ INVOICE.pdfFilename }} ({{ INVOICE.pdfFilesize|format_number }} octets)">
                <i class="fa-solid fa-download"></i> Télécharger
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i> Supprimer
              </button>
              {% else %}
                <input type="text" readonly class="form-control-plaintext text-muted" id="inv_nofile" value="Aucun fichier de facture disponible">
              {% endif %}
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col">
      <button type="submit" class="btn btn-primary">
        <i class="far fa-save"></i> Enregistrer la facture
      </button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path("fl_invoices_list") }}'">
        <i class="fa-solid fa-arrow-left"></i> Retour à la liste
      </button>
    </div>
  </div>
  </form>
  {% endblock %}
  