{% extends 'InoFreelancerManager.html.twig' %}

  {% block body %}
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h3" aria-current="page">
            <a href="{{ path("fl_projects_list") }}">
              <i class="fa-solid fa-user-group fa-fw"></i> Projets
            </a>
          </li>
          <li class="breadcrumb-item active h3" aria-current="page">{{ PAGE_TITLE }}</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <form method="post" action="{{ path("fl_projects_save") }}" class="needs-validation" novalidate>
    <input type="hidden" name="PID" value="{{ PROJECT.id|default(0) }}">
  
    <div class="row">
      <div class="col-xxl-6 col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            Détails du projet
            {% if PROJECT.createdOn != "" %}
              <small class="text-muted">(Créé le {{ PROJECT.createdOn|format_datetime }}{% if PROJECT.lastModifiedOn != "" %}, modifié le {{ PROJECT.lastModifiedOn|format_datetime }}{% endif %})</small>
            {% endif %}
          </div>
          <div class="card-body">
  
            <div class="row">
              <div class="col">
                <div class="form-floating">
                  <select class="form-select" id="RefCustomerId" name="RefCustomerId" required>
                    <option value="">--- Veuillez choisir ---</option>
                    {% for c in CUSTOMER_LIST %}
                      <option value="{{ c.id }}"{% if c.id == PROJECT.refCustomer.id|default(0) %} selected{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                  </select>
                  <label for="RefCustomerId">Projet lié au client</label>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mt-3">
                  <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Nom du projet" required value="{{ PROJECT.projectName }}">
                  <label for="projectName">Nom du projet</label>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mt-3">
                  <textarea class="form-control def_height_textarea" placeholder="Description du projet" id="description" name="description">{{ PROJECT.description }}</textarea>
                  <label for="description">Description du projet</label>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mt-3">
                  <select name="status" id="status" class="form-select">
                    <option value="{{ constant('App\\Entity\\FlProjects::PROJ_STATUS_ACTIVE') }}"{% if PROJECT.status == constant('App\\Entity\\FlProjects::PROJ_STATUS_ACTIVE') %} selected{% endif %}>Actif</option>
                    <option value="{{ constant('App\\Entity\\FlProjects::PROJ_STATUS_INACTIVE') }}"{% if PROJECT.status == constant('App\\Entity\\FlProjects::PROJ_STATUS_INACTIVE') %} selected{% endif %}>Inactif</option>
                  </select>
                  <label for="status">Statut du projet</label>
                </div>
              </div>
  
              <div class="col">
                <div class="form-check mt-3">
                  <input class="form-check-input" type="checkbox" value="1" id="noReporting" name="noReporting" {% if PROJECT.noReporting == true %} checked{% endif %} data-bs-toggle="tooltip" title="Cocher si ce projet ne doit pas apparaître dans les statistiques de chiffre d'affaires. Il sera uniquement visible via les rapports.">
                  <label class="form-check-label" for="noReporting">Ne pas comptabiliser</label>
                </div>
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="workUnit" name="workUnit" placeholder="Minutes par unité" required value="{{ PROJECT.workUnit }}" data-bs-toggle="tooltip" title="Durée (en minutes) d'une unité de travail. En général : 60 minutes = 1h.">
                  <label for="workUnit">Unité de travail (min)</label>
                </div>
              </div>
  
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="payPerWorkUnit" name="payPerWorkUnit" placeholder="Prix par unité" required value="{{ PROJECT.payPerWorkUnit }}" data-bs-toggle="tooltip" title="Prix par unité de travail (ex: taux horaire).">
                  <label for="payPerWorkUnit">Prix par unité</label>
                </div>
              </div>
  
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="currency" name="currency" placeholder="Devise" required value="{{ PROJECT.currency }}" data-bs-toggle="tooltip" title="Devise utilisée pour ce projet (ex: EUR, USD, CHF).">
                  <label for="currency">Devise</label>
                </div>
              </div>
  
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="timeBudget" name="timeBudget" placeholder="Budget temps" required value="{{ PROJECT.timeBudget }}" data-bs-toggle="tooltip" title="Durée maximale prévue du projet en heures (0 = Pas de limite).">
                  <label for="timeBudget">Budget temps</label>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">
          <i class="far fa-save"></i> Enregistrer
        </button>
        {% if PROJECT.id|default(0) %}
          <button type="button" class="btn btn-danger" id="btn_project_delete">
            <i class="fa-solid fa-trash"></i> Supprimer
          </button>
        {% endif %}
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path("fl_projects_list") }}'">
          <i class="fa-solid fa-arrow-left"></i> Retour
        </button>
      </div>
    </div>
  </form>
  
  <form method="post" action="{{ path("fl_projects_delete") }}" id="frm_project_delete">
    <input type="hidden" name="PID" value="{{ PROJECT.id }}">
  </form>
  {% endblock %}
  
  {% block javascripts %}
  <script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  
  $("#btn_project_delete").on('click', function() {
    SwalConfirmSubmit("Voulez-vous vraiment supprimer ce projet ?<br>Toutes les données associées seront également supprimées !", 'frm_project_delete');
  });
  </script>
  {% endblock %}
  