{% extends 'InoFreelancerManager.html.twig' %}

  {% block body %}
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h3" aria-current="page">
            <a href="{{ path("fl_report_index") }}">
              <i class="fa-solid fa-chart-line fa-fw"></i> Rapports
            </a>
          </li>
          <li class="breadcrumb-item active h3" aria-current="page">Par projet sur une période</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-6 col-md-9 col-12">
      <div class="card">
        <div class="card-header">
          <span>Veuillez sélectionner un projet et une période</span>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path("fl_report_by_project") }}" novalidate class="needs-validation">
            <div class="form-floating mb-4">
              <select name="fl_project" id="fl_project" class="form-select" required>
                <option value=""></option>
                {% for p in PROJECTS_LIST %}
                  <option value="{{ p.id }}"{% if PROJECT_ID|default(0) == p.id %} selected{% endif %}>
                    {{ p.projectName }} [{{ p.refCustomer.name }}]
                  </option>
                {% endfor %}
              </select>
              <label for="fl_project">Sélectionner un projet</label>
            </div>
  
            <div class="row">
              <div class="col">
                <div class="form-floating mb-4">
                  <input type="date" class="form-control" name="fl_sd" id="fl_sd" value="{{ SD }}" required>
                  <label for="fl_sd">Du</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-4">
                  <input type="date" class="form-control" name="fl_ed" id="fl_ed" value="{{ ED }}" required>
                  <label for="fl_ed">Au</label>
                </div>
              </div>
            </div>
  
            <button type="submit" class="btn btn-primary">
              <i class="fa-solid fa-magnifying-glass-chart"></i> Afficher
            </button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path("fl_report_index") }}'">
              <i class="fa-solid fa-arrow-left"></i> Retour
            </button>
  
            {% if PROJECT_ENTRIES['data']|length %}
            <button type="button" class="btn btn-secondary btn_pdf">
              <i class="fa-regular fa-file-pdf"></i> Générer le PDF
            </button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% if PROJECT_ENTRIES['data']|length %}
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">
            Il y a <strong>{{ PROJECT_ENTRIES['data']|length }}</strong> entrées entre <strong>{{ SD|format_date }}</strong> et <strong>{{ ED|format_date }}</strong> pour le projet <strong>{{ PROJECT_ENTRIES['totals']['PROJECT'] }}</strong>
          </span>
        </div>
        <div class="card-body">
          <table class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th class="text-center">Temps</th>
                <th class="text-end">Revenu</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for pe in PROJECT_ENTRIES['data'] %}
              <tr>
                <td>{{ pe['ymd']|format_date }}</td>
                <td class="text-center">{{ pe['work_time_in_secs']|formatWorkTime }}</td>
                <td class="text-end{% if pe['no_reporting'] == true %} fst-italic{% endif %}">
                  {{ pe['salary']|format_currency('EUR') }}
                </td>
                <td>
                  {% if pe['record_type'] == constant('App\\Entity\\FlProjectEntries::RT_TRAVEL_ALLOWANCE') %}
                    <span class="me-4">Frais de déplacement</span>
                  {% endif %}
                  {{ pe['work_description'] }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td><b>Total :</b></td>
                <td><b>{{ PROJECT_ENTRIES['totals']['WORK_TIME']|formatWorkTime }}</b></td>
                <td class="text-end{% if PROJECT_ENTRIES['totals']['NO_REPORTING'] == true %} fst-italic{% endif %}">
                  <b>{{ PROJECT_ENTRIES['totals']['SALARY']|format_currency('EUR') }}</b>
                </td>
                <td>
                  {% if PROJECT_ENTRIES['totals']['NO_REPORTING'] == false %}
                    &nbsp;
                  {% else %}
                    <div class="small ms-2">
                      (<span class="fst-italic">Italique</span> = Total non comptabilisé)
                    </div>
                  {% endif %}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <form method="post" action="{{ path("pdf_report_by_project") }}" id="frm_pdf_report">
    <input type="hidden" name="pid" value="{{ PROJECT_ID }}">
    <input type="hidden" name="sd" value="{{ SD }}">
    <input type="hidden" name="ed" value="{{ ED }}">
  </form>
  {% endif %}
  {% endblock %}
  
  {% block javascripts %}
  <script>
  $(".btn_pdf").on('click', function() {
    $("#frm_pdf_report").submit();
  });
  </script>
  {% endblock %}
  